/oauth/.env*

# dependencies
/oauth/node_modules
/oauth/.pnp
/oauth.pnp.js

# testing
/oauth/coverage

# production
/oauth/build

# misc
/oauth/.DS_Store
/oauth/.env.local
/oauth/.env.development.local
/oauth/.env.test.local
/oauth/.env.production.local

/oauth/npm-debug.log*
/oauth/yarn-debug.log*
/oauth/yarn-error.log*

/ui/.build

# compiled output
/ui/dist
/ui/node_modules

# Logs
/ui/logs
/ui/*.log
/ui/npm-debug.log*
/ui/pnpm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*
/ui/lerna-debug.log*

# OS
/ui/.DS_Store

# Tests
/ui/coverage
/ui/.nyc_output

# IDEs and editors
/ui/.idea
/ui/.project
/ui/.classpath
/ui/.c9/
/ui/*.launch
/ui/.settings/
/ui/*.sublime-workspace

# IDE - VSCode
/ui/.vscode/*
/ui/!.vscode/settings.json
/ui/!.vscode/tasks.json
/ui/!.vscode/launch.json
/ui/!.vscode/extensions.json

# env
/ui/.env

## Other ###
/apiserver/HELP.md

### Maven build ###
/apiserver/target/
/apiserver/!.mvn/wrapper/maven-wrapper.jar
/apiserver/!**/src/main/**/target/
/apiserver/!**/src/test/**/target/

/apiserver/dependencies
/apiserver/spring-boot-loader
/apiserver/snapshot-dependencies
/apiserver/application

### Properties ###
/apiserver/*.properties

### STS ###
/apiserver/.apt_generated
/apiserver/.classpath
/apiserver/.factorypath
/apiserver/.project
/apiserver/.settings
/apiserver/.springBeans
/apiserver/.sts4-cache

### IntelliJ IDEA ###
/apiserver/.idea
/apiserver/*.iws
/apiserver/*.iml
/apiserver/*.ipr

### NetBeans ###
/apiserver/nbproject/private/
/apiserver/nbbuild/
/apiserver/dist/
/apiserver/nbdist/
/apiserver/.nb-gradle/
/apiserver/build/
/apiserver/!**/src/main/**/build/
/apiserver/!**/src/test/**/build/

### VS Code ###
/apiserver/.vscode/
