/oauth/.env*
/oauth/node_modules
/oauth/.pnp
/oauth.pnp.js

# testing
/oauth/coverage

# production
/oauth/build

# misc
/oauth/.DS_Store
/oauth/.env.local
/oauth/.env.development.local
/oauth/.env.test.local
/oauth/.env.production.local

/oauth/npm-debug.log*
/oauth/yarn-debug.log*
/oauth/yarn-error.log*

/oauth/dist*

/ui/build
/ui/.env*

/ui/dist
/ui/node_modules

# logs
/ui/logs
/ui/*.log
/ui/npm-debug.log*
/ui/pnpm-debug.log*
/ui/yarn-debug.log*
/ui/yarn-error.log*
/ui/lerna-debug.log*

# os
/ui/.DS_Store

# testing
/ui/coverage
/ui/.nyc_output

# ides and editors
/ui/.idea
/ui/.project
/ui/.classpath
/ui/.c9/
/ui/*.launch
/ui/.settings/
/ui/*.sublime-workspace
/ui/.vscode/*
/ui/!.vscode/settings.json
/ui/!.vscode/tasks.json
/ui/!.vscode/launch.json
/ui/!.vscode/extensions.json

# env
/ui/.env

## Other ###
/backend/HELP.md

### Maven build ###
/backend/target/
/backend/!.mvn/wrapper/maven-wrapper.jar
/backend/!**/src/main/**/target/
/backend/!**/src/test/**/target/

/backend/dependencies
/backend/spring-boot-loader
/backend/snapshot-dependencies
/backend/application

### Properties ###
/backend/*.properties

### STS ###
/backend/.apt_generated
/backend/.classpath
/backend/.factorypath
/backend/.project
/backend/.settings
/backend/.springBeans
/backend/.sts4-cache

### IntelliJ IDEA ###
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr

### NetBeans ###
/backend/nbproject/private/
/backend/nbbuild/
/backend/dist/
/backend/nbdist/
/backend/.nb-gradle/
/backend/build/
/backend/!**/src/main/**/build/
/backend/!**/src/test/**/build/

### VS Code ###
/backend/.vscode/

/backend/.env*

# aws
/*.pem
