<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss.SSS} [%t] request id: [%X{requestId}] %-5level %logger{36} - %msg%n
      </Pattern>
    </layout>
  </appender>

  <root name="com.tycorp.simplekanban" level="INFO" additivity="false">
    <appender-ref ref="STDOUT" />
  </root>
  <logger name="com.tycorp.simplekanban" level="TRACE" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
  <logger name="com.tycorp.simplekanban" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>
</configuration>