.kanban-card {
  &__tag-container {
    margin: 0px 0px 2px 0px;
  }

  &__text-container {
    height: 100%;
    margin: 0px 0px 8px 0px;

    h4 {
      margin: 0px;
    }

    p {
      font-size: 14px;
      margin: 0px;
    }
  }
}
